.nav-button1{
    width: 25px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: transparent;
}
.lastone{
    margin: 0%;
    width: 100%;
    height: 100vh;
    background-color: #202124;
}
body{
    margin: 0%;
    background-color: #202124;
}
#h:hover{
    color: black;
}
footer{
    width: 100%;
    height: 60vh;
    background-color: #202124;
}